@model PartyInvites.Models.GuestResponse

@{

    ViewData["Title"] = "Repondez S'il Vous Plait";

}


    <!-- Body -->
    <form asp-action="Rspv" method="post">
        <div class="panel panel-default" style="margin-top:2ex;">
            <div class="panel-heading">
                <h3 class="panel-title"> Respondez S'il Vous Plait </h3><!--Header-->
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name"class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="EMail"> Email:</label>
                        <input asp-for="EMail" class="form-control" />

</div>
                <div class="form-group">
                    <label asp-for="Phone"> Phone:</label>
                     <input asp-for="Phone" class="form-control" />


</div>
                <div class="form-group">
                    <label asp-for="WillAttend">Will attend to the Party??</label>
                    <select asp-for="WillAttend" class="form-control">
                            <option value="">Choose an option</option>
                            <option value="true">Yes i want chiks</option>
                            <option value="false">Sry, i have my wife at home</option>
                     </select>


</div>
                <table>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                         
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:1em;">
                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <div asp-validation-summary="All"></div>

            </div>
            <div class="panel-footer">

                <button type="submit" class="btn btn-primary"> Submit response</button><!--footer-->
            </div>
        </div>
</form>
